<div class="subh c12" appReveal>
  <h3>Client &amp; product work</h3>
  <span>{{ projects.length }} more projects · newest first</span>
</div>

@for (p of projects; track p.title) {
  @if (p.wide) {
    <article [class]="'card c' + p.span" [appReveal]="p.delay ?? 0">
      <div class="wide">
        <div class="proj">
          <div class="proj__top">
            <span class="period" [class.live]="!p.to">{{ p.from | period: p.to }}</span>
            @if (p.client) {
              <span class="client">{{ p.client }}</span>
            }
          </div>
          <h4>{{ p.title }}</h4>
        </div>
        <div class="proj">
          <p>{{ p.text }}</p>
          <ul class="chips">
            @for (tag of p.tags; track tag) {
              <li>{{ tag }}</li>
            }
          </ul>
        </div>
      </div>
    </article>
  } @else {
    <article [class]="'card proj c' + p.span" [appReveal]="p.delay ?? 0">
      <div class="proj__top">
        <span class="period" [class.live]="!p.to">{{ p.from | period: p.to }}</span>
        @if (p.client) {
          <span class="client">{{ p.client }}</span>
        }
      </div>
      <h4>{{ p.title }}</h4>
      @if (p.points; as points) {
        <ul class="pts">
          @for (pt of points; track pt) {
            <li>{{ pt }}</li>
          }
        </ul>
      } @else {
        <p>{{ p.text }}</p>
      }
      <ul class="chips">
        @for (tag of p.tags; track tag) {
          <li>{{ tag }}</li>
        }
      </ul>
    </article>
  }
}
